@font-face{
    font-family:'bitbit';
    src:url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff'),url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2') ;
}
html{
    scroll-behavior: smooth;
}
a, a:link, a:visited{
    color: inherit;
    text-decoration: none;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'bitbit';
    background-color: rgba(6,97,26,1);
}
/*************************************************네비 바******************************************************/
li{
    list-style: none;
}
header .navbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 0%;

}
header{
    position: fixed;
    color: white;
    top: 0;
    z-index: 1;
    width: 100%;
    padding: 0;

}
header nav{
    display: flex;
    justify-content:space-between;
    align-items:top;
    width: 100%;
}
header nav ul{
    display: flex;
    align-items: top;
}
header nav ul li{
    padding-left: 10px;
    padding-top: 0;
}
header button{
    background:transparent;
    border: 0;
    cursor: pointer;
    background-color: rgba(0,47,4,1);
    width: 230px;
    height: 70px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
header h1 button{
    font-size: 70px;
    color: rgba(255,225,80,1);
    background-color: rgba(6,97,26,1);
    width: 500px;
    height: 100px;
    text-align: left;
    padding-left: 1rem;
}
header nav ul li button{
    font-size: 35px;
    color: rgb(255, 255, 255);
    background-color: rgba(0,47,4,1);
    overflow: hidden;
}
header nav ul li button a{
    background-color: rgba(0,47,4,1);
}