<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원 초기 정보</title>
    <style>

        .option-choice {
            width: 500px;
            height: 600px;
            font-size: 20px;
            text-align: center;
            font-weight: normal;
        }
    </style>
</head>
<body>
    <div class="option-choice">
        <div class="title">
            옵션 선택
        </div>

        <div class="bell">종소리 변경</div>
        <div class="image">이미지 변경</div>
        <div class="seat-reset">좌석 초기화</div>
    </div>

</body>
</html>