<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>학교종이 땡땡땡</title>
    <link rel="stylesheet" href="global.css" type="text/css">
</head>
<body>
    <header class="navbox">
        <nav>
            <h1>
                <button class="main">
                    <a href="#">학교종이 땡땡땡</a>
                </button>
            </h1>
            <ul>
                <li>
                    <button class="ranking">
                        <a href="#">랭킹</a>
                    </button>
                </li>
                <li>
                    <button class="calendar">
                        <a href="#">캘린더</a>
                    </button>
                </li>
                <li>
                    <button class="student-management">
                        <a href="#">학생관리</a>
                    </button>
                </li>
                <li>
                    <button class="mypage">
                        <a href="#">마이페이지</a>
                    </button>
                </li>
            </ul>
        </nav>
    </header>
<!---------------------------랭킹-------------------------------------->
<!--    <table id="studenttb">  코드 짜기
        <tr>
            <th>메뉴번호</th>
            <th>메뉴이름</th>
            <th>메뉴가격</th>
            <th>카테고리 코드</th>
            <th>판매 상태</th>
        </tr>
        <tr th:each="student : ${students}">   &lt;!&ndash;foreach 문 표현식&ndash;&gt;
            <td th:text="${menu.code}"></td>
            <td th:text="${menu.name}"></td>
            <td th:text="${menu.price}"></td>
            <td th:text="${menu.categoryCode}"></td>
            <td th:text="${menu.status}"></td>
        </tr>
    </table>-->
</body>
</html>