<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.semistudy.model.UserDAO">
    
    <resultMap id="userResult" type="com.ohgiraffers.semistudy.dto.RankDTO">
            <result property="name" column="student_name"/>
            <result property="grade" column="score"/>

    </resultMap>

    <select id="selectAllStudent" resultMap="userResult">
        SELECT
            a.student_name,
            sum(b.score) AS score
          FROM student a
          JOIN praise b ON (a.student_code = b.student_code)
         GROUP BY a.student_name
         ORDER BY score DESC;
    </select>



</mapper>