<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.semistudy.model.UserDAO">
    
    <resultMap id="userResult" type="com.ohgiraffers.semistudy.dto.SchoolDTO">
            <id property="code" column="student_code"/>
            <result property="name" column="student_name"/>
            <result property="userCode" column="user_code"/>
            <result property="status" column="student_status"/>
            <result property="regist_date" column="regist_date"/>
    </resultMap>

    <select id="selectAllStudent" resultMap="userResult">
            SELECT
                *
              FROM STUDENT
            STUDENT_STATUS='Y'
    </select>



</mapper>